.table{


	.tableColumn{

		.loading{
		align-content: center;
		margin-left: 50px;
}
	}

	.button{
		width: 90vw;
		margin: 10px auto;
		display: flex;
		justify-content: flex-end;
		
		.reload{
			margin-right: 10px;
			.buttonProgress{
				color: white;
			}
		}
	}

}